// output:index.html, pretty:true

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="A portfolio created by visiual designer specialized in Front-End Development and minimal UI, Bryan Tran.")
    meta(name="author", content="Bryan Tran")
    title Bryan Tran | Full Stack Developer and UI Designer
    meta(content="A portfolio created by visual designer specialized in Front-End Development and minimal UI, Bryan Tran.", property="og:description")
    meta(content="http://bryan-tran.com", property="og:url")
    meta(content="http://bryan-tran.com/assets/images/photo.png", property="og:image")
    link(rel="canonical" href="http://bryan-tran.com/")
    link(rel="icon", href="assets/images/favicon.png")
    link(rel="img-src", href="assets/images/photo.png")
    link(rel="stylesheet", href="assets/css/style.css")
    link(rel="stylesheet", href="assets/css/skeleton.css")
    link(rel="stylesheet", href="assets/css/fontawesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Raleway:300,400,600")
    
    body
      .keyart#nonparallax
      .keyart#parallax
        .keyart_layer.parallax#keyart-0
        .keyart_layer.parallax#keyart-1
        .keyart_layer.parallax#keyart-2
        .keyart_layer.parallax#keyart-3
        .keyart_layer.parallax#keyart-4
        .keyart_layer.parallax#keyart-5
        .keyart_layer.parallax#keyart-6
        .keyart_layer.parallax#keyart-7
        .keyart_layer.parallax#keyart-8
      
      .main-content
        .container
          .about
            img.subtitle-image(src="assets/images/aboutme.png")
            
            .social-media
              ul
                li#[a(href="https://github.com/bryantran97", target="_blank") #[i.fa.fa-github-square]]
                li#[a(href="https://linkedin.com/in/bryantran97", target="_blank") #[i.fa.fa-linkedin-square]]
                li#[a #[i.fa.fa-twitter-square]]
                li#[a(href="http://bryan-tran.com/assets/current-resume.pdf") #[i.fa.fa-file-text]]
                li#[a(href="mailto:bryantran97@gmail.com") #[i.fa.fa-envelope]]
            
            p 
              |I am a junior at The University of Texas at Dallas. I am a UI focused Full-Stack Developer.
              |<br />I am very passionate about the look and feel of things. I always want my site to look beautiful.
              |<br />When I'm not studying for school, you can find me working on websites or hanging out with friends!
              |<br />Question: Am I passionate about web development and do I enjoy doing it? Answer: Higgity Heck Yeah!
            
            p 
              |<span style="color: #eaac5b">Note</span>: This is my own take on the original Firewatch game website, the artwork does not belong to me!
              |<br />I photoshopped the images myself. This website was created for educational purposes ONLY!
            
            p 
              |Please feel free to contact me if you have any questions or you are interested in hiring me!
              |<br /> I am still available for internships for the summer of 2017!
              |<br /> Contact me at <strong>bryantran97@gmail.com</strong>
          
          .work
            img.subtitle-image(src="assets/images/mywork.png")
        
            .projects-text
              h4 Projects
              p Viewable sourcecode for all projects available on #[a(href="https://github.com/bryantran97/", target="_blank") github] !
            .projects
              .row
                .four.columns
                  figure.project-images
                    a(href="http://groupuputd.herokuapp.com", target="_blank")#[img(src="assets/images/groupuputd.png")]
                    p #[a(href="http://groupuputd.herokuapp.com", target="_blank") GroupUpUTD] is a web application created for UTDallas students to register and log in to create event listings
                    p Technologies: HTML/CSS/JS, Bootstrap, jQuery, Node.js, Express, MongoDB, Heroku
                .four.columns
                  figure.project-images
                    a(href="http://mini-overbuff.herokuapp.com", target="_blank")#[img(src="assets/images/mini-overbuff.png")]
                    p #[a(href="http://mini-overbuff.herokuapp.com", target="_blank") Mini-Overbuff] is a single page web application that allows Competitive Overwatch players to retrieve skill rating data and leaderboard rankings
                    p Technologies: HTML/CSS/JS, Bootstrap, SemanticUI, Node.js, Express, MongoDB, OW-API, Heroku
                .four.columns
                  figure.project-images
                    a(href="http://whattoeat-bt.herokuapp.com", target="_blank")#[img(src="assets/images/whattoeat.png")]
                    p #[a(href="http://whattoeat-bt.herokuapp.com", target="_blank") WhatToEat] is a web application created for indecisive foodies. This app generates a random food and restaurant near you!
                    p Technologies: HTML/CSS/JS, SemanticUI, jQuery, Node.js, Express, Yelp-Fusion API, Heroku
              
              .websites
                .websites-text
                  h4 Websites &amp; Portfolios
                  p Want to see my progress? Check these sites out!
                .row
                  .four.columns
                    figure.project-images
                      a(href="http://proofofhack.hackdfw.com", target="_blank")#[img(src="assets/images/proofofhack.png")]
                      p Lead front-end developer for HackDFW's Proof-of-Hack Hackathon landing page
                  .four.columns
                    figure.project-images
                      a(href="http://bryantran97.github.io/studio-ghibli", target="_blank")#[img(src="assets/images/portfolio-5.png")]
                      p Studio Ghibli themed personal portfolio. Graphics and logo are owned by Studio Ghibli.
                  .four.columns
                    figure.project-images
                      a(href="http://bryantran97.github.io/pp-four/", target="_blank")#[img(src="assets/images/portfolio-4.png")]
                      p We Bare Bear themed personal portfolio. Graphics are owned by Cartoon Network.
                
                .row
                  .four.columns
                    figure.project-images
                      a(href="http://bryantran97.github.io/pp-three/", target="_blank")#[img(src="assets/images/portfolio-3.png")]
                      p Nesskain (Professional Artist) themed personal portfolio. All graphics are owned by Nesskain.
                  .four.columns
                    figure.project-images
                      a(href="http://bryantran97.github.io/pp-two/", target="_blank")#[img(src="assets/images/portfolio-2.png")]
                      p Bootstrap template themed personal portfolio. Second portfolio ever made!
                  .four.columns
                    figure.project-images
                      a(href="http://bryantran97.github.io/pp-one/", target="_blank")#[img(src="assets/images/portfolio-1.png")]
                      p Youtube tutorial personal portfolio. First website I have ever made! (Warning: It's terrible!)
          .return
            button RETURN TOP
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="assets/js/jquery.nicescroll.min.js")
    script(src="assets/js/functions.js")
