// output:index.html, pretty:true

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Parallax test
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assets/css/style.css")
    link(rel="stylesheet", href="assets/css/skeleton.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400", rel="stylesheet")
    
    body
      
      .keyart#parallax
        .keyart_layer.parallax#keyart-0
        .keyart_layer.parallax#keyart-1
        .keyart_layer.parallax#keyart-2
        .keyart_layer.parallax#keyart-3
        .keyart_layer.parallax#keyart-4
        .keyart_layer.parallax#keyart-5
        .keyart_layer.parallax#keyart-6
        .keyart_layer.parallax#keyart-7
        .keyart_layer.parallax#keyart-8
        
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="assets/js/functions.js")
